@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f2f2;
}
.popup {
  @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50;
}

.popup-content {
  @apply bg-white p-5 rounded shadow-lg;
}

.popup-content h2 {
  @apply text-xl font-bold mb-4;
}

.popup-content button {
  @apply mt-4 bg-blue-500 text-white py-2 px-4 rounded;
}

/** Toggle Switch CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

